@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div id="mc_embed_signup" class="col-sm-10 offset-sm-1 text-center align-items-center " >

            <form 
                onSubmit="return handleForm()"
                method="post"
                  name="mc-embedded-subscribe-form" 
                  class="validate justify-content-center" 
                  target="_blank" 
            >
                <div id=" form-group" class="form-group">

                </div>
                <div class="form-group "  >
                    <input id="form_search"  type="text"  name="query" class=" form-control"   placeholder="ex: António Costa" />
                </div>


                <button type="submit" value="Subscribe" name="subscribe" id="submitbtn" class="btn btn-primary">Procurar</Button>
                <div id="contactFormLoad" class="spinner-border text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </form>


        </div>

    </div>

    <div id="quotes" class="row col-sm-10 offset-sm-1 text-center align-items-center" style="margin-top:48px">
        
       
    </div>
    
    <script type="text/javascript">

        function AddQuote(data) {

            var lis = "";
            for (var i = 0; i < data.quotes.length; i++) {
                lis += `<q class="list-group-item">${data.quotes[i]}</q>`;
            }
            
            
            var str =
                `

<div class="card" style="width: 100%;margin-top: 12px">
  <img src="${data.news.linkToScreenshot}" class="card-img-top" style="height:150px;width:100%;object-fit:none;object-position:50% 0">
            <ul class="list-group list-group-flush">
${lis}
            </ul>
            <div class="card-body">
                <a href="${data.news.originalURL}" class="card-link">Artigo</a>
            </div>
        </div>
`;

            $("#quotes").append($.parseHTML(str));
        }

        function handleForm() {
            
            var query = $("#form_search").val();
            if (query === "")
                return false;

            $("#quotes").empty();
            $("#submitbtn").hide();
            $("#contactFormLoad").fadeIn();

            $.get(
                "/home/search?q=" + query,
                function (response) {

                    $("#submitbtn").fadeIn();
                    $("#contactFormLoad").hide();
                    for (var i = 0; i < response.length; i++) {
                        AddQuote(response[i]);
                    }
                }

            );

            return false;
        }

     
    </script>
</div>
