
ConsoleApp1/es/edu.zip
src/Web/MemoriaCurtar.Bot/MemoriaCurtar.Bot/obj/
src/MemoriaCurta/.vs/
src/MemoriaCurta/MemoriaCurta/obj/
src/Web/MemoriaCurtar.Bot/MemoriaCurtar.Bot/bin/
src/Web/MemoriaCurtar.Bot/.vs/
src/MemoriaCurta/MemoriaCurta/bin/
src/MemoriaCurta/packages/
